<h1>Editing Team</h1>

<%= render 'form', team: @team %>

<div style = "text-align:center;">
	<%= link_to 'Show', @team , :class => "button"%> |
	<%= link_to 'Back', "/", :class => "button" %>
</div>
