<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<div style = "text-align:center;">
	<%= link_to 'Edit', edit_team_path(@team), :class => "button" %> |
	<%= link_to 'Back', :back, :class => "button" %>
</div>

