<h1>Editing Student</h1>

<%= render 'form', student: @student %>

<div style = "text-align:center;">
	<%= link_to 'Show', @student, :class => "button" %> 
	<%= link_to 'Back', :back, :class => "button" %>
</div>
