<h1>Editing Faculty</h1>

<%= render 'form', faculty: @faculty %>

<div style = "text-align:center;">
	<%= link_to 'Show', @faculty, :class => "button" %> 
	<%= link_to 'Back', :back, :class => "button" %>
</div>

