<h1>Editing Schedule</h1>

<%= render 'form', schedule: @schedule %>

<div style = "text-align:center;">
	<%= link_to 'Show', @schedule, :class => "button" %> 
	<%= link_to 'Back', schedules_path, :class => "button" %>
</div>
