<h1>Editing Student Course</h1>

<%= render 'form', student_course: @student_course %>

<div style = "text-align:center;">
	<%= link_to 'Show', @student_course, :class => "button" %> 
	<%= link_to 'Back', :back, :class => "button" %>
</div>

