<h1>Editing Submission</h1>

<%= render 'form', submission: @submission %>

<div style = "text-align:center;">
	<%= link_to 'Show', @submission, :class => "button" %> 
	<%= link_to 'Back', submissions_path , :class => "button"%>
</div>
