<h1 >Editing Project</h1>

<%= render 'form', project: @project %>

<div style = "text-align:center;">
	<%= link_to 'Show', @project, :class => "button" %> 
	<%= link_to 'Back', "/", :class => "button" %>
</div>

