<h1>Editing Student Team</h1>

<%= render 'form', student_team: @student_team %>

<div style = "text-align:center;">
	<%= link_to 'Show', @student_team, :class => "button" %> |
	<%= link_to 'Back', "/", :class => "button" %>
</div>
