<h1>Editing Course</h1>

<%= render 'form', course: @course %>

<div style = "text-align:center;"><%= link_to 'Show', @course, :class => "button" %> </div>
<div style = "text-align:center;"><%= link_to 'Back', :back , :class => "button"%> %></div>

