
.orange {
  background-color: #999
}

.square {
  border-radius: 0.25em;
}

.medium {
  font-size: 1em;
}

.button {
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 100%, 0.05),
    hsla(0, 0%, 0%, 0.1)
  );
  background-image: -moz-linear-gradient(
    hsla(0, 0%, 100%, 0.05),
    hsla(0, 0%, 0%, 0.1)
  );
  background-image: -ms-linear-gradient(
    hsla(0, 0%, 100%, 0.05),
    hsla(0, 0%, 0%, 0.1)
  );
  background-image: -o-linear-gradient(
    hsla(0, 0%, 100%, 0.05),
    hsla(0, 0%, 0%, 0.1)
  );
  background-image: linear-gradient(
    hsla(0, 0%, 100%, 0.05),
    hsla(0, 0%, 0%, 0.1)
  );
  border: none;
  border-radius: 0.5em;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.2),
    inset 0 2px 0 hsla(0, 0%, 100%, 0.1), inset 0 1.2em 0 hsla(0, 0%, 100%, 0.1),
    inset 0 -0.2em 0 hsla(0, 0%, 100%, 0.1),
    inset 0 -0.25em 0 hsla(0, 0%, 0%, 0.25),
    0 0.25em 0.25em hsla(0, 0%, 0%, 0.05);
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  padding: 0.5em 1.5em 0.75em;
  position: relative;
  text-align: middle;
  text-decoration: none;
  text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.25);
  vertical-align: middle;
}
.button:hover {
  outline: none;
}
.button:hover,
.button:focus {
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.2),
    inset 0 2px 0 hsla(0, 0%, 100%, 0.1), inset 0 1.2em 0 hsla(0, 0%, 100%, 0.1),
    inset 0 -0.2em 0 hsla(0, 0%, 100%, 0.1),
    inset 0 -0.25em 0 hsla(0, 0%, 0%, 0.25),
    inset 0 0 0 3em hsla(0, 0%, 100%, 0.2),
    0 0.25em 0.25em hsla(0, 0%, 0%, 0.05);
}





.header{

  height: 200px;
  background-color: #ff7043;

}

.wrapper1 {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(30px, auto);
}
.one {
  margin-top: 20px;
  margin-left: 10px;
  grid-column: 1 / 20;
  grid-row: 1;
}
.two { 
  height: 25px;
  grid-column: 23 / 27;
  grid-row: 1 ;
}
.three {
  height: 25px;
  grid-column: 27 / 31;
  grid-row: 1 ;
}
.big {
  margin: 50px;
}







/*** Table Styles **/

.table-fill {
  text-align: center;
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
 
th {
  height: 40px;
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding: 10px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  height: 30px;
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
td:hover {
  background: #bdbdbd;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
/*tr:nth-child(odd) td {
  background:#EBEBEB;
}*/

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  height: 80px;
  background:#ebebeb;
  padding:20px;
  text-align: center;
  vertical-align: middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
